[submodule "Exploitation/privilege_escalation/cansecwest2016-CVE-2015-6764"]
	path = Exploitation/privilege_escalation/cansecwest2016-CVE-2015-6764
	url = https://github.com/secmob/cansecwest2016
[submodule "Exploitation/privilege_escalation/CVE-2015-3636"]
	path = Exploitation/privilege_escalation/CVE-2015-3636
	url = https://github.com/fi01/CVE-2015-3636
[submodule "Exploitation/privilege_escalation/PoCForCVE-2015-1528"]
	path = Exploitation/privilege_escalation/PoCForCVE-2015-1528
	url = https://github.com/secmob/PoCForCVE-2015-1528
[submodule "Exploitation/Shell_code_execution/cve-2015-1538-1"]
	path = Exploitation/Shell_code_execution/cve-2015-1538-1
	url = https://github.com/jduck/cve-2015-1538-1
[submodule "Exploitation/Android_Kernel_CVE_POCs"]
	path = Exploitation/Android_Kernel_CVE_POCs
	url = https://github.com/ScottyBauer/Android_Kernel_CVE_POCs
